pandas>=2.0
numpy>=1.24
scipy>=1.10
scikit-learn>=1.3
transformers>=4.30
sentencepiece>=0.1.99  # required for DeBERTa v3 tokenizer
torch>=2.0
accelerate>=0.26.0
datasets>=2.14
tqdm>=4.65
goto-conversion>=0.0.5
